﻿@model Purchase

<h2>Check out now</h2>
<p>Please enter your details, and we'll ship your goods right away!</p>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Checkout" method="post">
    <h3>Ship for</h3>

    <div class="form-group">
        <label>First Name:</label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Last Name:</label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Street:</label>
        <input asp-for="Street" class="form-control" />
    </div>

    <div class="form-group">
        <label>City:</label>
        <input asp-for="City" class="form-control" />
    </div>

    <div class="form-group">
        <label>State:</label>
        <input asp-for="State" class="form-control" />
    </div>

    <div class="form-group">
        <label>Zip:</label>
        <input asp-for="Zip" class="form-control" />
    </div>

    @*<div class="form-group">
        <label>Country:</label>
        <input asp-for="Country" class="form-control" />
    </div>*@

    <div class="text-center">
        <input class="btn btn-primary btn-group" type="submit" value="Complete Order" />
    </div>
    @*<div class="text-center">
        <input class="btn btn-danger btn-group" value="Cancel" />
    </div>*@

</form>
