﻿@model IEnumerable<Purchase>

@{
    ViewBag.Title = "Purchase";
   
}

@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <tr>
            <td>Name</td>
            <td>Zip</td>
            <td colspan="2">Details</td>
            <td></td>

            @foreach (Purchase p in Model)
            {
        <tr>
            <td>@p.FirstName</td>
            <td>@p.LastName</td>
            <td>@p.Zip</td>
            <td>Product</td>
            <td>Quantity</td>
            <td>
                <form asp-action="MarkShipped" method="post">
                    <input type="hidden" name="purchaseId" value="@p.PurchaseId" />
                    <button type="submit" class="btn btn-sm btn-danger">Ship</button>
                </form>
            </td>
        </tr>
            @foreach (PurchaseProduct item in p.Items)
            {
                <tr>
                    <td colspan="2"></td>
                    <td>@item.Product.ProductName</td>
                    <td>@item.NumberOfProducts</td>
                    <td></td>
                </tr>

            }
        }
            </tr>
        </table>

    }
    else
    {
        <div>No Unshipped Orders</div>
    }
