﻿@model IEnumerable<Guitar>

@{
    Layout = null;
    ViewBag.Title = "Guitars";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h3 class="text-center">Guitars</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr><td>Name</td><td>Price</td><td>Description</td><td>Category</td><td>Stock Level</td></tr>
        </thead>
        <tbody>
            @foreach (Guitar g in Model)
            {
            <tr>
                <td>@g.Name</td>
                <td>@($"{g.Price:C2}")</td>
                <td>@g.Description</td>
                <td>@g.Category</td>
                <td>@g.StockLevel</td>
            </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-primary" asp-action="AddGuitar">Add New Guitar</a>
    </div>
</body>
</html>

