﻿@model IEnumerable<Author>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Authors</title>
</head>
<body>
    <h1>Authors</h1>

    @foreach (Author a in Model)
    {
    <h2>@a.FirstName @a.LastName</h2>

        <ul>

            @foreach (TitleAuthor ta in a.TitleAuthors)
            {
                <li>
                    Title: @ta.Title.TitleName
                    <br />Publisher: @ta.Title.Publisher.PublisherName
                </li>
            }

        </ul>
    }
</body>
</html>

