﻿@model PersonEditViewModel

@{
    Layout = "_People_Layout";
    ViewBag.Title = "Edit Person";
}

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="@Model.Person.PersonId" />
    
    <div class="form-group">
        <label asp-for="@Model.Person.LastName"></label>
        <div><span asp-validation-for="@Model.Person.LastName" class="text-danger"></span></div>
        <input asp-for="@Model.Person.LastName" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="@Model.Person.FirstName" > </label>
        <div><span asp-validation-for="@Model.Person.FirstName" class="text-danger"></span></div>
        <input asp-for="@Model.Person.FirstName" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="@Model.Person.MiddleName" > </label>
        <div><span asp-validation-for="@Model.Person.MiddleName" class="text-danger"></span></div>
        <input asp-for="@Model.Person.MiddleName" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="@Model.Person.DateOfBirth" > </label>
        <div><span asp-validation-for="@Model.Person.DateOfBirth" class="text-danger"></span></div>
        <input asp-for="@Model.Person.DateOfBirth" type="date" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="@Model.Person.DateOfDeath" > </label>
        <div><span asp-validation-for="@Model.Person.DateOfDeath" class="text-danger"></span></div>
        <input asp-for="@Model.Person.DateOfDeath" type="date" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Picture" > </label>
        <div><span asp-validation-for="Picture" class="text-danger"></span></div>
        <input type="file" asp-for="Picture" class="form-control">
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-default" asp-action="List">Cancel</a>
    </div>

</form>


