﻿@model IEnumerable<Person>

@{
    ViewBag.Title = "People";
    Layout = "_People_Layout";
}

<div>
    <a class="btn btn-success btn-block" asp-action="Edit">Add a New Person</a>
</div>

<hr />

<table class="table table-bordered table-striped">
    <tr>       
        <th></th>
        <th>Name</th>
        <th></th>
    </tr>

    @foreach (Person p in Model) {
        <tr>
            @{
                if (p.Picture != null)
                {
                    <td>
                        <a href="/Person/ViewImage?personId=@p.PersonId">
                            <img width="100" height="100" src="/Person/ViewImage?personId=@p.PersonId" />
                        </a>
                    </td>
                }
                else
                {
                    <td>
                        <img width="100" height="100" src="~/images/DefaultPersonPhoto.png" />                        
                    </td>
                }
            }            
            <td>@p.GetFormattedName()</td>
            <td>
                <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-personId="@p.PersonId">Edit</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-personId="@p.PersonId">Delete</a>
            </td>
        </tr>
    }
</table>

<a class="btn btn-success btn-block" asp-action="Edit">Add a New Person</a>
