﻿@model Agent

<h2>Check out now</h2>
<p>Please enter your details so we can keep track of the case(s)!</p>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Checkout" method="post">
    <h3>Ship for</h3>

    <div class="form-group">
        <label>First Name:</label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Last Name:</label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Age:</label>
        <input asp-for="Age" class="form-control" />
    </div>

    <div class="form-group">
        <label>Badge Number:</label>
        <input asp-for="BadgeNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label>Department:</label>
        <input asp-for="Department" class="form-control" />
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Checkout Case(s)" />
    </div>
</form>
