﻿@model IEnumerable<Agent>

@{
    ViewBag.Title = "Agents";
    Layout = "_AdminLayout";
}

@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <tr>
            <td>Name</td>
            <td>Zip</td>
            <td colspan="2">Details</td>
            <td></td>

            @foreach (Agent a in Model)
            {
            <tr>
                <td>@a.LastName</td>
                <td>@a.BadgeNumber</td>
                <td>Case</td>
                <td>Quantity</td>
                <td>
                    <form asp-action="MarkShipped" method="post">
                        <input type="hidden" name="orderId" value="@a.AgentId" />
                        <button type="submit" class="btn btn-sm btn-danger">Check In</button>
                    </form>
                </td>
            </tr>
            @foreach (CaseLine item in a.Items)
            {
                <tr>
                    <td colspan="2"></td>
                    <td>@item.Case.CaseName</td>
                    <td>@item.Quantity</td>
                    <td></td>
                </tr>

            }
        }
            </tr>
        </table>

    }
    else
    {
        <div>No Case(s) Checked Out</div>
    }

