﻿@model IEnumerable<Purchase>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Purchases</title>
</head>
<body>
    <h2>Purchases</h2>
    <table class="table table-striped table-bordered">
        <tr>
            <td>Purchase Id</td>
                    
        </tr>
        @foreach (Purchase p in Model)
        {
        <tr>
            <td>@p.PurchaseId</td>
         
        </tr>

        }
    </table>
</body>
</html>
