﻿@model IEnumerable<string>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Language Features</title>
</head>
<body>
    <ul>
        @foreach (string s in Model)
        {
            <li>@s</li>
        }
    </ul>
</body>
</html>

