﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error{
            border-color:red;
            background-color: #fee;
        }
    </style>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <script src="~/lib/jQuery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body class="panel panel-default">
    <div class="panel-heading">       
        <h4>
            @ViewBag.Title
                <a class="btn btn-sm btn-primary pull-right" asp-action="Logout" asp-controller="Account">Log Out</a>
            </h4> 
    </div>
    <div class="panel-body">
        @if (TempData["message"] != null)
         {
        <div>@TempData["message"]</div>
         }

        @RenderBody()
    </div>
</body>
</html>
