﻿@model IEnumerable<Product>
@{
    ViewBag.Title = "All Products";
    Layout = "_AdminLayout";
}

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <td class="text-right">ID</td>
        <td>Name</td>
        <td class="text-right">Price</td>
        <td class="text-center">Actions</td>
    </tr>

    @foreach (Product p in Model)
    {
        <tr>
            <td class="text-right">@p.ProductId</td>
            <td>@p.ProductName</td>
            <td class="text-right">@($"{p.Price:C2}")</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning"
                       asp-route-productId="@p.ProductId">Edit</a>
                    <input type="hidden" name="ProductId" value="@p.ProductId" />
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>

        </tr>

    }
</table>

<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add Product</a>
</div>

