﻿
@model Case

<div class="well">
    <h3>
        <strong>@Model.CaseName</strong>
        <span class="pull-right label label-primary">
            @Model.Location
        </span>
    </h3>
    <form id="@Model.CaseId" asp-action="AddToCart" asp-controller="CheckoutCase" method="post">
        <input type="hidden" asp-for="CaseId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="lead">
            @Model.Report
            <button type="submit" class="btn btn-success btn-sm pull-right">Add To Cart</button>
        </span>
    </form>
</div>


