﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <script src="~/lib/jQuery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body class="panel panel-default">
    <div class="panel-heading">
        <h4>@ViewBag.Title</h4>
    </div>
    
    <div class="panel-body">
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success"><h4>@TempData["message"]</h4></div>
    }

    @RenderBody()
    </div>
</body>
</html>
