﻿@model AgentIndexViewModel

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<h3 class="text-center"><strong>Your Cart</strong></h3>
<div class="container">
    <table id="cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:50%">Product</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center"></th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CheckoutCase.Lines)
            {
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            @* <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive" /></div>*@
                            <div class="col-sm-10">
                                <h4 class="nomargin">@item.Case.CaseId</h4>

                            </div>
                        </div>
                    </td>
                    <td data-th="Price">@item.Case.Location</td>
                    <td data-th="Quantity">
                        <input type="number" class="form-control text-center" value="1">

                    </td>

                    <td>
                        <form asp-action="RemoveFromCart" method="post">
                            @*<button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>*@
                            <input type="hidden" name="ProductId" value="@item.Case.CaseId" />
                            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                            <button class="btn btn-sm btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr class="visible-xs">
                <td class="text-center"><strong></strong></td>
            </tr>
            <tr>
                <td><a href="@Model.ReturnUrl" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                <td colspan="2" class="hidden-xs"></td>

                <td class="text-right"><strong>Total:</strong></td>
                <td><a asp-action="Checkout" asp-controller="Purchase" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>
        </tfoot>
    </table>
</div>

