﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sports Store</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        
        <a class="navbar-brand" href="#" style="padding: 5px 5px"><i class="fa fa-shirtsinbulk fa-2x"></i> PRODUCTS STORE</a>
        

        <div class="pull-right">
            @await Component.InvokeAsync("PurchaseSummary")
        </div>     
    </div>

    <div class="row panel">
        <div id="categories" class="col-xs-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-xs-9">
            @RenderBody()
        </div>
    </div>

</body>
</html>
