﻿@model CdTracker.Models.CD

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <h2>Add a CD</h2>
        </div>

        <div class="panel-body">
            <form class="p-a-1" asp-action="AddCd" method="post">
                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <p>
                        <label>Bank</label>
                        <select class="form-control" asp-for="BankName">
                            <option value="">Choose a bank</option>
                            <option value="value">Altra FCU</option>
                            <option value="value">Synchrony Bank</option>
                            <option value="value">BMO Harris</option>
                            <option value="value">WCCU</option>
                            <option value="value">Marine CU</option>
                        </select>
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label>Term(Months)</label>
                        <select class="form-control" asp-for="Term">
                            <option value="">Choose a term</option>
                            <option value="value">6</option>
                            <option value="value">12</option>
                            <option value="value">18</option>
                            <option value="value">24</option>
                            <option value="value">36</option>
                            <option value="value">48</option>
                            <option value="value">60</option>
                        </select>
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label>Rate(%)</label>
                        <input class="form-control" asp-for="Rate" />
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label>Deposit Amount</label>
                        <input class="form-control" asp-for="DepositAmount" />
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label>Purchase Date</label>
                        <input class="form-control" asp-for="PurchaseDate"/>
                    </p>
                </div>

                <div><button type="submit" class="btn btn-primary" asp-action="Index">Add CD</button></div>
            </form>
        </div>
    </div>

</body>
</html>

