﻿@model IEnumerable<CdTracker.Models.CD>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <h2>My CD Portfolio</h2>
        </div>

        <div class="text-center">
            <a asp-action="AddCd" class="btn btn-primary">Add a CD</a>
        </div>
    </div>


    
    <div class="form-group">
        <table class="form-control">
            <thead>
                <tr>
                    <th>Bank</th>
                    <th>Term(Months)</th>
                    <th>Rate</th>
                    <th>Purchase Date</th>
                    <th>Maturity Date</th>
                    <th>Deposit Amount</th>
                    <th>Value at Maturity</th>
                </tr>
            </thead>
           @* <tbody>
                 @foreach(CdTracker.Models.CD c in Model)
                 {
                     <tr>
                         <td>@c.BankName</td>
                         <td>@c.Term</td>
                         <td>@c.Rate</td>
                         <td>@c.PurchaseDate</td>
                         <td>@c.MaturityDate</td>
                         <td>@c.DepositAmount</td>
                         <td>@c.ValueAtMaturity</td>
                     </tr>
                     
                 }

             </tbody>*@
        </table>
    </div>

</body>
</html>
