﻿@model Purchasing

<div class="">
    @if (Model.Items.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your Cart:</b>
            @Model.Items.Sum(c => c.NumberOfProducts) item(s)
            @Model.ComputeTotalValue().ToString("c")
        </small>
    }

    <a asp-controller="Purchasing" asp-action="Index" asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()"
       class="btn btn-sm btn-default navbar-btn">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>
