﻿@model IEnumerable<Case>
@{
    ViewBag.Title = "All Cases";
    Layout = "_AdminLayout";
}

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <td class="text-right">ID</td>
        <td>Case Name</td>
        
        <td class="text-center">Actions</td>
    </tr>

    @foreach (Case c in Model)
    {
        <tr>
            <td class="text-right">@c.CaseId</td>
            <td>@c.CaseName</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning"
                       asp-route-productId="@c.CaseId">Edit</a>
                    <input type="hidden" name="ProductId" value="@c.CaseId" />
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>

        </tr>

    }
</table>

<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add Case</a>
</div>

