﻿@model IEnumerable<Product>

@{
    Layout = null;
    // Layout = "_BasicLayout";
    ViewBag.Title = "Product Name";
}

<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="panel-body">
    <h3 class="text-center">Products</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr><td>Name</td><td>Price</td></tr>
        </thead>
        <tbody>
            @foreach (Product p in Model)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@($"{p.Price:C2}")</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-primary" asp-action="AddProduct">Add New Product</a>
    </div>
</body>
</html>



